@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

.root,
body,
html {
    margin: 0;
    padding: 0;
    background: #ffff;
    height: 100%;
    width: 100%;
}